<mat-card fxLayout="column" fxLayoutAlign="center center" class="card">
      <h1 class="language"> Select the Language</h1>
    <div fxLyout="column" fxLayoutAlign="space-evenly center" class="fullwidth">
        <span class="button">
   
            <mat-form-field >
                <mat-label class="lang">Languages</mat-label>
                <mat-select (selectionChange)="selected_type=$event.value">
                    <mat-option *ngFor="let datasetType of datasetTypes$ | async" [value]="datasetType.name">
                        {{datasetType.display_name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <a [routerLink]="['/de']"  > <button  [disabled]="!selected_type" mat-raised-button color="primary">Continue</button></a>
            
        </span>
 
       
    </div>
</mat-card>
