
.lesson1 {
    max-width: 200px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; */
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    height: 2rem;
    background-size: cover;
  }
  
  